body {
  background-color: rgb(2, 58, 50);

  padding: 0px;
}
h1 {
  color: rgb(183, 234, 227);

  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: normal;
  font-size: 5vh;
}
h2 {
  color: rgb(183, 234, 227);
  
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: normal;
}
h3 {
  color: rgb(183, 234, 227);

  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: normal;
}
h4 {
  color: rgb(183, 234, 227);

  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: normal;
}
p {
  color: rgb(183, 234, 227);

  font-family: 'Lucida Console', 'Lucida sans';
  font-style: normal;
}



/* Main Content */
.MAIN_DIV {
    background-color: rgb(0, 15, 13);
    box-shadow: 0vh 1vh 1vh rgba(0, 0, 0, 0.2), 0vh 1.5vh 2vh rgba(0, 0, 0, 0.2); 

    margin: 6vh 20vw 1vh 20vw;
    padding: 5vh;
}



/* Menu Bar */
.MENU_BAR {
    background-color: rgb(0, 15, 13);
    color: rgb(183, 234, 227);
    box-shadow: 0vh 1vh 1vh rgba(0, 0, 0, 0.2), 0vh 1.5vh 2vh rgba(0, 0, 0, 0.2); 

    position: fixed;
    box-sizing: border-box;
    left: 0px;
    top: 0px;
    width: 98vw;
    height: 4vh;

    margin: 1vh 1vw 1vh 1vw;
    padding: 0.5vh 2vh 0.5vh 2vh;
    word-spacing: 0;
    border-radius: 0.5vh;
    text-align: left;
}
.BAR_BUTTON {
    background-color: rgba(2, 58, 50, 0);
    color: rgb(183, 234, 227);

    border: none;
    border-radius: 0.25vh;

    padding: 0 1vh 0 1vh;
    margin: 0 0 0 0;

    height: 3vh;
}
.BAR_BUTTON:hover {
    background-color: rgba(2, 58, 50, 0.90);
    font-style: italic;
}
.BAR_BUTTON:active {
    background-color: rgb(183, 234, 227);
    color: rgb(2, 58, 50);
    font-style: italic;
}



/* Bottom Bar*/
.BOTTOM_BAR {
    background-color: rgb(0, 15, 13);
    box-shadow: 0vh 1vh 1vh rgba(0, 0, 0, 0.2), 0vh 1.5vh 2vh rgba(0, 0, 0, 0.2); 

    margin: 0 1vw 0 1vw;
    padding: 1vh 0.5vw 1vh 0.5vw;
    border-radius: 0.5vh 0.5vh 0 0;
}



/* Logo Bar */
.SOCIALS {
    display: inline;
}
.SOCIALS_BUTTON {
    /*background-color: rgba(0, 15, 13);*/
    
    padding: 0px 0px 0px 0px;
    align-content: center;

    display: inline;
}
.SOCIALS_LOGO {
    display: inline-block;

    background-color: rgba(0, 0, 0, 0);

    width: 1vw;
    height: auto;
    margin: 0px 0px 0px 0px;
}