:root {
  --fg-color: rgb(15, 7, 0);
  --highlight-color: rgb(224, 125, 4);
  --bg-color: rgb(234, 208, 183);
}



body {
  background-color: var(--highlight-color);

  padding: 0px;
}
h1 {
  color: var(--fg-color);

  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: normal;
  font-size: 5vh;

  margin: 0;
}
h2 {
  color: var(--fg-color);
  
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: normal;
  
  margin: 0;
}
h3 {
  color: var(--fg-color);

  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: normal;
  
  margin: 0;
}
h4 {
  color: var(--fg-color);

  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: normal;
  
  margin: 0;
}
p {
  color: var(--fg-color);

  font-family: 'Lucida Console', 'Lucida sans';
  font-style: normal;
  
  margin: 0;
}



/* Main Content */
.MAIN_DIV {
    background-color: var(--bg-color);
    box-shadow: 0vh 1vh 1vh rgba(0, 0, 0, 0.2), 0vh 1.5vh 2vh rgba(0, 0, 0, 0.2); 

    margin: 6vh 20vw 1vh 20vw;
    padding: 5vh;
}



/* Menu Bar */
.MENU_BAR {
    background-color: var(--bg-color);
    color: var(--fg-color);
    box-shadow: 0vh 1vh 1vh rgba(0, 0, 0, 0.2), 0vh 1.5vh 2vh rgba(0, 0, 0, 0.2); 

    position: fixed;
    box-sizing: border-box;
    left: 0px;
    top: 0px;
    width: 98vw;
    height: 4vh;

    margin: 1vh 1vw 1vh 1vw;
    padding: 0.5vh 2vh 0.5vh 2vh;
    word-spacing: 0;
    border-radius: 0.5vh;
    text-align: left;
}
.BAR_BUTTON {
    background-color: rgba(2, 58, 50, 0);
    color: var(--fg-color);

    border: none;
    border-radius: 0.25vh;

    padding: 0 1vh 0 1vh;
    margin: 0 0 0 0;

    height: 3vh;
}
.BAR_BUTTON:hover {
    background-color: var(--highlight-color);
    font-style: italic;
}
.BAR_BUTTON:active {
    background-color: var(--fg-color);
    color: var(--highlight-color);
    font-style: italic;
}

.SERIES_DIV {
  background-color: var(--highlight-color);

  padding: 1vh;

  border-radius: 0.5vh;
}

/* Bottom Bar*/
.BOTTOM_BAR {
    background-color: var(--bg-color);
    box-shadow: 0vh 1vh 1vh rgba(0, 0, 0, 0.2), 0vh 1.5vh 2vh rgba(0, 0, 0, 0.2); 

    margin: 0 1vw 0 1vw;
    padding: 1vh 0.5vw 1vh 0.5vw;
    border-radius: 0.5vh 0.5vh 0 0;
}



/* Logo Bar */
.SOCIALS {
    display: inline;
}
.SOCIALS_BUTTON {
    background-color: rgba(0, 15, 13, 0);
    
    border: none;
    padding: 0px 0px 0px 0px;
    align-content: center;

    display: inline;
}
.SOCIALS_LOGO {
    display: inline-block;

    background-color: rgba(0, 0, 0, 0);

    width: 1vw;
    height: auto;
    margin: 0px 0px 0px 0px;
}