:root {
  --fg-color: rgb(15, 7, 0);
  --highlight-color: rgb(146, 126, 103);
  --bg-color: rgb(234, 208, 183);
}


@font-face {
  font-family: precious;
  src: url(font/precious-regular.ttf);
}
@font-face {
  font-family: dancingScript;
  src: url(font/DancingScript-Bold.ttf);
}
@font-face {
  font-family: patrickHand;
  src: url(font/PatrickHand-Regular.ttf);
}


body {
  background-color: var(--highlight-color);

  background-attachment:fixed;
  background-position: center bottom;
  position: absolute;
  box-sizing: border-box;
  background-size:cover;

  padding: 0px;
}
div {
  overflow: hidden;
}
span {
  overflow: hidden;
}
h1 {
  color: var(--fg-color);

  font-family: precious, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: normal;
  font-size: 10vh;
  margin-bottom: 1vh;
}
h2 {
  color: var(--fg-color);
  
  font-family: dancingScript, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
  font-size: 3.5vh;
  text-align: center;
}
h3 {
  color: var(--fg-color);

  font-family: dancingScript, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
  font-size: 3vh;
}
h4 {
  color: var(--fg-color);

  font-family: dancingScript, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
  font-size: 2.5vh;
}
p {
  color: var(--fg-color);

  font-family: patrickHand, 'Times New Roman', Times, serif;
  font-style: normal;
  font-size: large;
}
hr {
  color: var(--fg-color);
}
img {
  size: auto;
  border-radius: 0.5vh;
}

.IMAGE_THIRD {
  width: 33%;
  height: auto;
  box-shadow: 0vh 1vh 1vh rgba(0, 0, 0, 0.2), 0vh 1.5vh 2vh rgba(0, 0, 0, 0.2); 
  margin: 1vw;
}



/* Main Content */
.MAIN_DIV {
    background-color: var(--bg-color);
    box-shadow: 0vh 1vh 1vh rgba(0, 0, 0, 0.2), 0vh 1.5vh 2vh rgba(0, 0, 0, 0.2); 

    margin: 6vh 20vw 1vh 20vw;
    padding: 5vh;
}
.BANNER {
  box-sizing: border-box;
  height: 20vh;

  box-shadow: 0vh 1vh 1vh rgba(0, 0, 0, 0.2), 0vh 1.5vh 2vh rgba(0, 0, 0, 0.2); 
  
  background-size: cover;
  background-position: center;

  padding: 0 2vw 0 2vw;
  align-content: end;
}

/* Image Popups */
.IMAGE_POPUP {
  background-color: rgba(0,0,0, 0.4);
  backdrop-filter: blur(5px);

  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;

  text-align: center;
}
.IMAGE_POPUP img {
  object-fit: contain;
  margin: 1vh;
  height: 98vh;
  width: auto;

  box-shadow: 0vh 1vh 1vh rgba(0, 0, 0, 0.2), 0vh 1.5vh 2vh rgba(0, 0, 0, 0.2); 
}
.IMAGE_POPUP button {
  background-color: var(--bg-color);
  color: var(--fg-color);
  border: none;
  opacity: 25%;

  margin: 1vh;
  float: left;
  width: 5vh;
  height: 5vh;
  
  border-radius: 0.5vh;
  font-size: 3vh;
  text-align: center;
  align-content: center;
}
.IMAGE_POPUP button:hover {
  box-shadow: 0vh 1vh 1vh rgba(0, 0, 0, 0.2), 0vh 1.5vh 2vh rgba(0, 0, 0, 0.2); 
  opacity: 100%;
}
.IMAGE_POPUP button:active {
  background-color: var(--highlight-color);
  color: var(--bg-color);
  opacity: 100%;
}



/* Menu Bar */
.MENU_BAR {
    background-color: var(--bg-color);
    color: var(--fg-color);
    box-shadow: 0vh 1vh 1vh rgba(0, 0, 0, 0.2), 0vh 1.5vh 2vh rgba(0, 0, 0, 0.2); 

    position: fixed;
    box-sizing: border-box;
    left: 0px;
    top: 0px;
    width: 98vw;
    height: 4vh;

    margin: 1vh 1vw 1vh 1vw;
    padding: 0.5vh 2vh 0.5vh 2vh;
    word-spacing: 0;
    border-radius: 0.5vh;
    text-align: left;
}
.BAR_BUTTON {
    background-color: rgba(2, 58, 50, 0);
    color: var(--fg-color);

    border: none;
    border-radius: 0.25vh;

    padding: 0 1vh 0 1vh;
    margin: 0 0 0 0;

    height: 3vh;
}
.BAR_BUTTON:hover {
    background-color: var(--highlight-color);
    font-style: italic;
}
.BAR_BUTTON:active {
    background-color: var(--fg-color);
    color: var(--highlight-color);
    font-style: italic;
}

/* Slideshow */
.SLIDE_DIV {
  background-color: var(--bg-color);
  box-shadow: 0vh 1vh 1vh rgba(0, 0, 0, 0.2) inset; 

  background-size: cover;
  background-position: center;

  box-sizing: border-box;
  height: 70vh;
  width: auto;

  align-content: center;

  margin: 1vw;
  padding: 1vw;
  border-radius: 0.5vh;
}
.SLIDE_BUTTON {
  background-color: var(--bg-color);
  color: var(--highlight-color);
  opacity: 5%;
  
  width: 5vh;
  height: 100%;

  font-size: 100%;

  border: none;
  border-radius: 0.5vh;
}
.SLIDE_BUTTON:hover {
    background-color: var(--highlight-color);
    color: var(--bg-color);
    box-shadow: 0vh 1vh 1vh rgba(0, 0, 0, 0.2), 0vh 1.5vh 2vh rgba(0, 0, 0, 0.2); 
    opacity: 50%;
    font-style: italic;
}
.SLIDE_BUTTON:active {
    background-color: var(--highlight-color);
    color: var(--bg-color);
    box-shadow: none;
    opacity: 70%;
    font-style: italic;
}

/* Series */
.SERIES_DIV {
  background-color: var(--highlight-color);
  box-shadow: 0vh 1vh 1vh rgba(0, 0, 0, 0.2);

  box-sizing: border-box;
  padding: 1vh;

  border-radius: 0.5vh;
}
.SERIES_DIV:hover {
  box-shadow: 0vh 1vh 1vh rgba(0, 0, 0, 0.2), 0vh 1.5vh 2vh rgba(0, 0, 0, 0.2); 
}
.SERIES_DIV:active {
  box-shadow: 0vh 1vh 1vh rgba(0, 0, 0, 0.2) inset, 0vh 1.5vh 2vh rgba(0, 0, 0, 0.2) inset; 
}
.SERIES_DIV img:hover {
  box-shadow: 0vh 1vh 1vh rgba(0, 0, 0, 0.2), 0vh 1.5vh 2vh rgba(0, 0, 0, 0.2); 
}
.SERIES_DIV img:active {
  box-shadow: 0vh 1vh 1vh rgba(0, 0, 0, 0.2) inset, 0vh 1.5vh 2vh rgba(0, 0, 0, 0.2) inset; 
}
.SERIES_CONTENT {
  display: none;
  text-align: center;
}
.SERIES_PARAGRAPH {
  background-color: var(--bg-color);
  box-shadow: 0vh 1vh 1vh rgba(0, 0, 0, 0.2) inset; 
  text-align: left;

  margin: 1vw;
  padding: 1vw;
  border-radius: 0.5vh;
}
.IMAGE_ROW {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.ART_IMG {
  object-fit: cover;
  width: 100%;
}
.CONTENT_DIGITAL_ART_A {
  height: 20vw;
  width: auto;
}
.CONTENT_DIGITAL_ART_B {
  height: 17vw;
  width: auto;
}
.CONTENT_DIGITAL_ART_C {
  height: auto;
  width: 17vw;
}
.CONTENT_DIGITAL_ART_D {
  height: auto;
  width: 25vw;
}
.CONTENT_DIGITAL_ART_E {
  height: 23vw;
  width: auto;
}
.CONTENT_DIGITAL_ART_F {
  height: 15vw;
  width: auto;
}
.CONTENT_DIGITAL_ART_G {
  height: auto;
  width: 23%;
}
.CONTENT_DIGITAL_ART_H {
  height: 60vh;
  width: auto;
}
.CONTENT_DIGITAL_ART_I {
  height: 43vh;
  width: auto;
}



/* Bottom Bar*/
.BOTTOM_BAR {
    background-color: var(--bg-color);
    box-shadow: 0vh 1vh 1vh rgba(0, 0, 0, 0.2), 0vh 1.5vh 2vh rgba(0, 0, 0, 0.2); 

    margin: 0 1vw 0 1vw;
    padding: 1vh 0.5vw 1vh 0.5vw;
    border-radius: 0.5vh 0.5vh 0 0;
}



/* Logo Bar */
.SOCIALS {
    display: inline;
}
.SOCIALS_BUTTON {
    background-color: rgba(0, 15, 13, 0);
    
    border: none;
    padding: 0px 0px 0px 0px;
    align-content: center;

    display: inline;
}
.SOCIALS_LOGO {
    display: inline-block;

    background-color: rgba(0, 0, 0, 0);

    width: 1vw;
    height: auto;
    margin: 0px 0px 0px 0px;
}